<h2> Landmark List </h2>

<%@landmarks.order("name").each do |landmark|%>
<li> <a href= "/landmarks/<%=landmark%>"> <%= landmark.name %><%=landmark.year_completed%></a> </li>
<%end%>

</br>

Select to Go Back to Master Page: <a href= "/" > Master Page  </a>

</br></br>

Select to Create a New Landmark: <a href= "/landmarks/new" > New Landmark </a>
