<h2> Landmark List </h2>

<%@landmarks.order("name").each do |landmark|%>
<li> <a href= "/landmarks/<%=landmark.id%>"> <%= landmark.name %><%=landmark.year_completed%></a> </li>
<%end%>

</br>
<p> Select to Go Back to Home Page: <a href= "/" > Home Page  </a></p>



<p> Select to Create a New Landmark: <a href= "/landmarks/new" > New Landmark </a></p>
